*{
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.videoback{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: -1;
}

.videofore{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.videofore iframe{
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}


.balloon {
    position: absolute;
    bottom: -50px;
    width: 40px;
    height: 60px;
    border-radius: 50%;
    opacity: 0.7;
}

.text{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding: 20px;
    color: #ffffff; /* Text color */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    width: 100%;
    box-sizing: border-box;
}

#pic{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1); /* Initial scale */
    animation: popAndSpin 5s forwards; /* Animation duration and forwards to keep the final state */
    width: 200px; /* Set the initial width */
    height: auto; /* Maintain aspect ratio */
}

.pic img{
    justify-content: center;
    align-items: center;
}

@keyframes floatUp {
    0% {
        bottom: -50px;
    }
    100% {
        bottom: 100vh;
    }
}

@keyframes popAndSpin {
    0% {
        transform: translate(-50%, -50%) scale(0.1) rotate(0deg); /* Start small and no rotation */
    }
    100% {
        transform: translate(-50%, -50%) scale(1) rotate(1440deg); /* Final size and 10 full rotations (1440deg) */
    }
}